* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(30, 54%, 90%);

}

.Recipe-Menu {
  width: 550px;
  border-radius: 20px;
  margin: 60px 0px;
  padding: 15px 25px;
  background: hsl(0, 0%, 100%);
}

.header-image,
.title,
.discription {
  margin-bottom: 15px;
}

.header-image img {
  width: 100%;
  border-radius: 15px;
}

.title h2 {
  font-size: 24px;
  font-weight: 600;
  color: hsl(24, 5%, 18%);
}

.discription p {
  font-size: 15px;
  color: hsl(30, 10%, 34%);
  line-height: 22px;
}

.preparation {
  padding: 15px 30px;
}

.preparation h3 {
  font-size: 19px;
  margin-bottom: 10px;
  font-weight: 600;
  color: hsl(332, 51%, 32%);
}

.prep-time li {
  margin: 14px 34px;
  font-size: 15px;
  color: hsl(30, 10%, 34%);
}

.prep-time strong {
  color: hsl(24, 5%, 18%);
}

.ingredients {
  margin-bottom: 35px;
}

.ingredients h2 {
  color: hsl(14, 45%, 36%);
  font-size: 24px;
  margin-bottom: 10px;
}

.ingredients ul li {
  margin: 9px 25px;
  color: hsl(30, 10%, 34%);
  font-size: 14px;
}

.instructions,
.nutrition {
  margin: 35px 0px;
}

.instructions h2,
.nutrition h2 {
  color: hsl(14, 45%, 36%);
  font-size: 24px;
  margin: 15px 0px;
}

.instructions ol li::marker {
  color: hsl(14, 45%, 36%);
}

.instructions ol li {
  margin: 9px 25px;
  color: hsl(30, 10%, 34%);
  font-size: 12px;
  line-height: 15px;
}

.instructions ol li strong {
  font-weight: 600;
  font-size: 14px;
  color: hsl(30, 10%, 34%);
}

.nutrition p {
  font-size: 14px;
  color: hsl(30, 10%, 34%);
  margin-bottom: 15px;
}

.nutrition table {
  width: 100%;
  margin: 15px 0px;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
}

.nutrition table td {
  border-bottom: 1px solid hsl(31, 24%, 79%);
  padding: 12px 16px;
  /* text-align: center; */
  color: hsl(30, 10%, 34%);
}

.nutrition table tr:last-child td {
  border-bottom: none;
}

.value {
  color: hsl(14, 72%, 21%) !important;
}