* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(47, 88%, 63%);
  font-family: "Figtree", sans-serif;
}

#blog-card {
  background: hsl(0, 0%, 100%);
  width: 300px;
  padding: 15px;
  border: none;
  border-radius: 20px;
  box-shadow: 12px 12px black;

}

.img,
.header,
.button,
.body {
  margin-bottom: 18px;
}

.img img {
  width: 100%;
  border: none;
  border-radius: 15px;
}

.header button {
  padding: 5px 15px;
  font-size: 15px;
  font-weight: 600;
  background-color: hsl(47, 88%, 63%);
  border-radius: 8px;
}

.paragraph {
  font-size: 12px;
  margin-bottom: 17px;
}

.heading h2 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
}

.discription p {
  font-size: 16px;
  line-height: 23px;
  color: hsl(0, 1%, 53%);
}

.footer {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer img {
  width: 40px;
}