* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e6e4e4;
}

#qr-card {
  width: 300px;
  padding: 20px;
  background: hsl(0, 0%, 100%);
  border-radius: 15px;
}

.qr-img img {
  width: 100%;
  border: none;
  border-radius: 10px;
}

.qr-heading h2 {
  font-size: 22px;
  margin: 10px 5px;
  text-align: center;
  color: hsl(218, 44%, 22%);
}

.qr-description p {
  font-size: 16px;
  text-align: center;
  color: hsl(216, 15%, 48%);
}